<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
  <title>Online Book Store</title>
</head>

<body class="font-serif box-border bg-blue-100">

  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 w-full">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="#" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Online Book Store</span>
      </a>
      <div class="flex items-center md:order-2">
        <button type="button"
          class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="image.jpeg" alt="user photo">
        </button>
        <!-- Dropdown menu -->
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
          id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
            <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
          </div>
          <ul class="py-1" aria-labelledby="user-menu-button">
            <li>
              <a href="cart"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Your
                Cart</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
            </li>
            <li>
              <a href="login"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                out</a>
            </li>
          </ul>
        </div>
        <button data-collapse-toggle="mobile-menu-2" type="button"
          class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="mobile-menu-2" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#"
              class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
              aria-current="page">Home</a>
          </li>
          <li>
            <a href="about"
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class=<%=cartAlert %>>
    <div class="absolute top-12 right-1/3">
      <div id="alert-3" class="flex p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor"
          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium text-green-700 dark:text-green-800">
          Item has been successfully added to cart <a href="cart"
            class="font-semibold underline hover:text-green-800 dark:hover:text-green-900">Go to cart</a>.
        </div>
        <button type="button"
          class="ml-auto -mx-1.5 -my-1.5 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-green-200 dark:text-green-600 dark:hover:bg-green-300"
          data-dismiss-target="#alert-3" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="book-container flex items-start justify-center flex-col bg-blue-600">
    <div class="wrapper mt-5 mb-5 w-full h-full flex items-start justify-center flex-col gap-20" data-aos="fade-up"
      data-aos-easing="linear" data-aos-duration="1000">
      <!-- <h2 class="m-10">Welcome to Online Book Store!</h2> -->
      <div class="book-container w-full h-full flex items-center justify-center flex-wrap gap-6">
        <!-- book tile starts -->
        <% books.forEach((book)=> { %>
          <div class="books w-80 h-96 flex items-center justify-center flex-col rounded-lg m-10">
            <div
              class="flex items-center justify-center flex-col w-full h-auto rounded-lg gap-4 bg-white shadow-xl p-6">
              <div class="image-container flex items-center justify-center w-full h-full">
                <img src=<%="book" + book.IDX + ".jpeg" %> alt="book-image" class="w-30 h-60 rounded-lg">
              </div>
              <div class="w-full text font-lg">
                <p class="w-full title text-center font-bold text-2xl">
                  <%= book.BNAME %>
                </p>
                <p class="author text-center font-medium text-1xl">
                  <%= book.BAUTH %>
                </p>
              </div>
              <div class="stars-price flex items-center justify-between w-full text-xs mt-2">

                <div class="stars text-xs">
                  <i class="fa-solid fa-star text-yellow-500"></i>
                  <i class="fa-solid fa-star text-yellow-500"></i>
                  <i class="fa-solid fa-star text-yellow-500"></i>
                  <i class="fa-solid fa-star-half-stroke text-yellow-500"></i>
                  <i class="fa-regular fa-star text-yellow-500"></i>
                  <span class="text-base">4.5 stars</span>
                </div>
                <div class="price flex items-center justify-center gap-2">
                  <p>Price</p>
                  <div class="flex items-center justify-center gap-1">
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                    <span class="text-base">
                      <%= book.BPRICE %>
                    </span>
                  </div>
                </div>
              </div>

              <div class="button-container flex w-full h-full items-center justify-center mt-4">

                <form action="/addToCart" method="post">
                  <input type="hidden" name="bookId" value="<%= book.IDX %>">
                  <button type="submit"
                    class="addCartBtn w-40 h-10 bg-blue-500 hover:bg-blue-800 text-white flex items-center justify-center text-center rounded-md transition-all duration-500 hover:border-blue-800 cursor-pointer gap-4">
                    <i class="fa-solid fa-cart-shopping transition-all duration-500"></i>
                    Add to Cart
                  </button>
                </form>

              </div>
            </div>
          </div>
          <% }) %>
            <!-- book tile ends -->
      </div>
    </div>
  </div>





  <!-- books container ends-->

  <!-- reccomended book starts -->

  <div class="rec-books-container m-10 flex justify-center flex-col gap-4" data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="600">
    <div class="books flex items-start justify-center flex-col gap-6">
      <h2 class="font-bold text-3xl text-blue-700">Recommended Books</h2>
      <% recbooks.forEach((book)=> { %>
        <div class="rec-wrapper w-full flex items-center justify-start gap-6">
          <img src=<%="book" + book.IDX + ".jpeg" %> alt="" class="w-20 h-auto rounded-md">
          <div class="rec-subcontainer flex items-center justify-between w-full">
            <div class="rec-subwrapper">
              <div class="text flex items-start justify-center flex-col">
                <p class="title text-center font-medium text-2xl">
                  <%= book.BNAME %>
                </p>
                <p class="author text-center">
                  <%= book.BAUTH %>
                </p>
                <div class="stars text-sm mt-5">
                  <i class="fa-solid fa-star text-yellow-500"></i>
                  <i class="fa-solid fa-star text-yellow-500"></i>
                  <i class="fa-solid fa-star text-yellow-500"></i>
                  <i class="fa-solid fa-star-half-stroke text-yellow-500"></i>
                  <i class="fa-regular fa-star text-yellow-500"></i>
                  <span class="text-sm">4.5 stars</span>
                </div>
              </div>
            </div>
            <div class="rec-subwrapper">
              <a href=""
                class="addCartBtn w-40 h-10 bg-blue-500 hover:bg-blue-800 text-white flex items-center justify-center text-center rounded-md transition-all duration-500 hover:border-blue-800 cursor-pointer gap-4">
                <i class="fa-solid fa-cart-shopping transition-all duration-500"></i>
                Add to Cart
              </a>
            </div>
          </div>

        </div>
        <% }) %>
    </div>
  </div>

  </div>
  </div>
  </div>
  </div>



  <script>
    AOS.init();
  </script>
  <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
</body>

</html>